In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import numpy as np
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', 100)


from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB,GaussianNB,BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix,precision_score,recall_score,f1_score

In [2]:
def classification_(x,y):
    

    k=KNeighborsClassifier()
    d=DecisionTreeClassifier()
    log=LogisticRegression()
    gbc=GradientBoostingClassifier()
    rf=RandomForestClassifier()
    xgb=XGBClassifier()
    ab=AdaBoostClassifier()

    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)
    
    algos=[k,d,log,gbc,rf,xgb]
    algos_name=['KNeigbors','DecisionTree','LogisticRegr','GradientBoosting','RandomForest','XGB']
    
    accuracy = []
    precision = []
    recall = []
    f1 = []
   
    result=pd.DataFrame(columns=['AccuracyScore','PrecisionScore','RecallScore','f1_Score'],index=algos_name)
    
    for i in algos:
        
        predict=i.fit(x_train,y_train).predict(x_test)
        
        accuracy.append(accuracy_score(y_test,predict))
        precision.append(precision_score(y_test,predict,average='weighted'))
        recall.append(recall_score(y_test,predict,average='weighted'))
        f1.append(f1_score(y_test,predict,average='weighted'))
        

    
    
    result.AccuracyScore=accuracy
    result.PrecisionScore=precision
    result.RecallScore=recall
    result.f1_Score=f1
    
    
    return result.sort_values('f1_Score',ascending=False)

In [3]:
df1 = pd.read_csv("event_type.csv")
df1

         id     event_type
0      6597  event_type 11
1      8011  event_type 15
2      2597  event_type 15
3      5022  event_type 15
4      5022  event_type 11
...     ...            ...
31165  3761  event_type 11
31166  8720  event_type 11
31167  6488  event_type 11
31168   878  event_type 11
31169  4464  event_type 11

[31170 rows x 2 columns]

In [4]:
df2 = pd.read_csv("log_feature.csv")
df2

         id  log_feature  volume
0      6597   feature 68       6
1      8011   feature 68       7
2      2597   feature 68       1
3      5022  feature 172       2
4      5022   feature 56       1
...     ...          ...     ...
58666  8720  feature 209       1
58667  6488   feature 54       3
58668   878   feature 62       1
58669  4464  feature 209       1
58670  4464   feature 87       2

[58671 rows x 3 columns]

In [5]:
df3 = pd.read_csv("resource_type.csv")
df3

         id    resource_type
0      6597  resource_type 8
1      8011  resource_type 8
2      2597  resource_type 8
3      5022  resource_type 8
4      6852  resource_type 8
...     ...              ...
21071  3761  resource_type 8
21072  8720  resource_type 8
21073  6488  resource_type 8
21074   878  resource_type 8
21075  4464  resource_type 8

[21076 rows x 2 columns]

In [6]:
df4 = pd.read_csv("severity_type.csv")
df4

         id    severity_type
0      6597  severity_type 2
1      8011  severity_type 2
2      2597  severity_type 2
3      5022  severity_type 1
4      6852  severity_type 1
...     ...              ...
18547  3761  severity_type 1
18548  8720  severity_type 1
18549  6488  severity_type 2
18550   878  severity_type 2
18551  4464  severity_type 1

[18552 rows x 2 columns]

In [7]:
df_merge1 = pd.merge(df1, df3, on = "id")
df_merge2 = pd.merge(df4, df2, on = "id")
df_merge = pd.merge(df_merge1, df_merge2, on = "id")
df_merge

,id,event_type,resource_type,severity_type,log_feature,volume
0,6597,event_type 11,resource_type 8,severity_type 2,feature 68,6
1,8011,event_type 15,resource_type 8,severity_type 2,feature 68,7
2,2597,event_type 15,resource_type 8,severity_type 2,feature 68,1
3,5022,event_type 15,resource_type 8,severity_type 1,feature 172,2
4,5022,event_type 15,resource_type 8,severity_type 1,feature 56,1
...,...,...,...,...,...,...
146418,8720,event_type 11,resource_type 8,severity_type 1,feature 209,1
146419,6488,event_type 11,resource_type 8,severity_type 2,feature 54,3
146420,878,event_type 11,resource_type 8,severity_type 2,feature 62,1
146421,4464,event_type 11,resource_type 8,severity_type 1,feature 209,1
146422,4464,event_type 11,resource_type 8,severity_type 1,feature 87,2

In [8]:
df_merge["event_type"] = df_merge["event_type"].str.replace(r'\D', '')
df_merge["log_feature"] = df_merge["log_feature"].str.replace(r'\D', '')
df_merge["resource_type"] = df_merge["resource_type"].str.replace(r'\D', '')
df_merge["severity_type"] = df_merge["severity_type"].str.replace(r'\D', '')
df_merge

          id event_type resource_type severity_type log_feature  volume
0       6597         11             8             2          68       6
1       8011         15             8             2          68       7
2       2597         15             8             2          68       1
3       5022         15             8             1         172       2
4       5022         15             8             1          56       1
...      ...        ...           ...           ...         ...     ...
146418  8720         11             8             1         209       1
146419  6488         11             8             2          54       3
146420   878         11             8             2          62       1
146421  4464         11             8             1         209       1
146422  4464         11             8             1          87       2

[146423 rows x 6 columns]

In [9]:
df5 = pd.read_csv("train.csv")
df5.drop_duplicates(inplace=True)
df5["location"] = df5["location"].str.replace(r'\D', '')
df5

         id location  fault_severity
0     14121      118               1
1      9320       91               0
2     14394      152               1
3      8218      931               1
4     14804      120               0
...     ...      ...             ...
7376    870      167               0
7377  18068      106               0
7378  14111     1086               2
7379  15189        7               0
7380  17067      885               0

[7381 rows x 3 columns]

In [10]:
y = df5["fault_severity"]

In [11]:
df5 = df5[["id","location"]]
df_merge = pd.merge(df5, df_merge, on = "id")
df_merge = df_merge.drop_duplicates(subset=["id"])
df_merge

,id,location,event_type,resource_type,severity_type,log_feature,volume
0,14121,118,34,2,2,312,19
4,9320,91,34,2,2,315,200
8,14394,152,35,2,2,221,1
12,8218,931,15,8,1,80,9
18,14804,120,34,2,1,134,1
...,...,...,...,...,...,...,...
61824,870,167,34,2,2,232,1
61828,18068,106,20,2,1,219,1
61830,14111,1086,15,8,2,82,21
61832,15189,7,11,8,1,191,3
61836,17067,885,11,8,1,81,1

In [12]:
df_merge = pd.get_dummies(df_merge,drop_first=True)
df_merge

,id,volume,location_10,location_100,location_1000,location_1002,location_1005,location_1006,location_1007,location_1008,location_1009,location_101,location_1010,location_1011,location_1013,location_1014,location_1015,location_1016,location_1017,location_1018,location_1019,location_102,location_1020,location_1021,location_1022,location_1023,location_1024,location_1025,location_1026,location_1027,location_1029,location_103,location_1030,location_1031,location_1032,location_1033,location_1034,location_1035,location_1036,location_1037,location_1038,location_104,location_1041,location_1042,location_1044,location_1045,location_1046,location_1047,location_1048,location_1049,...,log_feature_377,log_feature_378,log_feature_384,log_feature_39,log_feature_40,log_feature_41,log_feature_42,log_feature_44,log_feature_45,log_feature_46,log_feature_47,log_feature_49,log_feature_50,log_feature_51,log_feature_52,log_feature_53,log_feature_54,log_feature_55,log_feature_56,log_feature_60,log_feature_61,log_feature_62,log_feature_63,log_feature_64,log_feature_65,log_feature_66,log_feature_68,log_feature_69,log_feature_70,log_feature_71,log_feature_73,log_feature_74,log_feature_75,log_feature_76,log_feature_77,log_feature_78,log_feature_79,log_feature_8,log_feature_80,log_feature_81,log_feature_82,log_feature_83,log_feature_84,log_feature_85,log_feature_86,log_feature_87,log_feature_90,log_feature_94,log_feature_95,log_feature_99
0,14121,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,9320,200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
8,14394,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
12,8218,9,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
18,14804,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61824,870,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
61828,18068,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
61830,14111,21,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
61832,15189,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
61836,17067,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [13]:
x = df_merge

In [14]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.2,random_state=42)

In [15]:
classification_(x,y)

                  AccuracyScore  PrecisionScore  RecallScore  f1_Score
XGB                    0.704807        0.687189     0.704807  0.690954
RandomForest           0.691943        0.669345     0.691943  0.673959
DecisionTree           0.673663        0.671087     0.673663  0.671715
GradientBoosting       0.692620        0.671424     0.692620  0.643432
LogisticRegr           0.651320        0.576799     0.651320  0.573808
KNeigbors              0.589709        0.510613     0.589709  0.528837

In [16]:
xgb = XGBClassifier()
pred = xgb.fit(x_train,y_train).predict(x_test)

In [17]:
y_pred_proba_xgb = xgb.predict_proba(x_test)

In [19]:
result = pd.DataFrame({"id":x_test.id,
                       "Predicted fault_severity":pred,
                       "Prediction_probability_0":y_pred_proba_xgb[:,0],
                       "Prediction_probability_1":y_pred_proba_xgb[:,1],
                       "Prediction_probability_2":y_pred_proba_xgb[:,2]},
                   columns=["id", "Predicted fault_severity", "Prediction_probability_0", "Prediction_probability_1", "Prediction_probability_2"])
result.head()

,id,Predicted fault_severity,Prediction_probability_0,Prediction_probability_1,Prediction_probability_2
9458,12147,0,0.532838,0.300626,0.166535
18925,2431,0,0.453152,0.451969,0.094879
60405,7821,2,0.173671,0.197937,0.628392
33803,9002,2,0.420823,0.155393,0.423784
21866,11419,0,0.528545,0.331042,0.140413